body {
    margin: 0px;
}

.input-c2 {
    padding-left: 1%;
    padding-right: 1%;
    width: 48%;
}

.input-c1 {
    padding: 0px;
    width: 100%;
}

.input-c3 {
    padding-left: 1%;
    padding-right: 1%;
    width: 31.333333%;
}

.spl-c1-1 {
    padding: 0px;
    width: 100%;
}

.spl-c2-1 {
    padding-left: 0%;
    padding-right: 1%;
    width: 49%;
}

.spl-c2-2 {
    padding-left: 1%;
    padding-right: 0%;
    width: 49%;
}

.spl-c3-1 {
    padding-left:0%;
    padding-right: 1%;
    width: 32%;
}

.spl-c3-2 {
    padding-left: 1%;
    padding-right: 1%;
    width: 32%;
}

.spl-c3-3 {
    padding-left: 1%;
    padding-right: 0%;
    width: 32%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.menu {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgba(1, 0, 35, 1) 0%, rgba(0, 3, 4, 1) 100%);
    padding: 10px;
    border: 2px solid rgba(152, 118, 249, 0.62);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.95;
    text-align: left;
}

.menu-button {
    width: 100%;
    background-color: #262626;
    color: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px;
    outline: none;
    margin-bottom: 5px;
}

.menu-label {
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}

.menu-select {
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
    background-color: #262626;
    color: white;
    padding: 3px;
    margin-bottom: 5px;
    outline: none;
}

.menu-title {
    text-align: center;
    color: white;
    margin: 5px;
}

.menu-info {
    text-align: center;
    color: white;
    font-size: 12px;
}

.menu-input-text {
    width: calc(100% - 8px);
    background-color: #262626;
    color: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px;
    outline: none;
    margin-bottom: 5px;
}